<h1 class="mb-5">Welcome to Our Site</h1>
<h2>Welcome to my portfolio. If you'd like to get to know me better, click the button below</h2>
<button id="AboutUsBtn" class="btn btn-primary">About Me</button>
<h6>Our Mission Statement: To maximize profits by any means necessary, including exploiting natural resources and
    disregarding any negative impact on the environment or communities. We prioritize the interests of our shareholders
    above all else and will not hesitate to cut corners or engage in unethical practices to achieve our goals. We are
    committed to maintaining a facade of social responsibility while pursuing our true agenda of domination and wealth
    accumulation</h6>