<h1>My Products</h1>

<h5>Hit Indie Game Celeste</h5>
<img src="https://cdn.vox-cdn.com/thumbor/xqz8THuFvikjvBiqJ2WZiboHOoo=/0x0:1176x1600/1200x675/filters:focal(481x544:669x732)/cdn.vox-cdn.com/uploads/chorus_image/image/58444701/boxart_final3_preview.0.png" alt="Celeste Box art">
<p>Did you know I had a hand in creating the hit indie game Celeste? I worked alongside developer Maddie Thorson to create the widely beloved game you know today.</p>

<h5>Hollow Knight</h5>
<img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/en_US/games/switch/h/hollow-knight-switch/hero" alt="The Knight">
<p>Just like Celeste, I was one of the creators of Hollow Knight. Ari Gibson and William Pellen were very grateful that I was on board to during development to assist in creating the fights against Nightmare King Grimm and Absolute Radiance.</p>

<h5>Google</h5>
<img src="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/streams/2013/March/130326/1C6639340-google-logo.jpg" alt="Google Logo">
<p>Lastly, I am the sole creator of the world's most popular search engine, Google. They never should have changed the logo.</p>