<h1>Our Services</h1>

<h3>What can we do for you?</h3>

<h5>Game Programming</h5>
<img src="https://i.insider.com/601441dd6dfbe10018e00c25?width=700" alt="Me Programming Your Game">
<p>I am quite talented in the art of game programming and design. I will certainly be an asset to whatever project you are working on.</p>

<h5>Discord Management</h5>
<img src="https://global-uploads.webflow.com/5e157548d6f7910beea4e2d6/62a07b53139aec4c1fd07771_discord-logo.png" alt="An excellent communications service!">
<p>I have plenty of experience in managing a discord channel, and will be happy to moderate to ensure people's communications are going smoothly.</p>

<h5>Moral Support</h5>
<img src="https://m.media-amazon.com/images/I/41k-KWXXFVL._AC_SX679._SX._UX._SY._UY_.jpg" alt="me providing moral support">
<p>Lastly, I am a great motivator, and like the court jester, I can keep your team in high spirits with my goofy antics!</p>
<p>\n</p>